[submodule "ext/SDL"]
	path = ext/SDL
	url = git@github.com:libsdl-org/SDL.git
	branch = release-2.26.x
[submodule "ext/stb"]
	path = ext/stb
	url = git@github.com:nothings/stb.git
[submodule "ext/tinyobjloader"]
	path = ext/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "ext/imgui"]
	path = ext/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "ext/glm"]
	path = ext/glm
	url = git@github.com:g-truc/glm.git
